/** {
    outline: dashed 1px lightsalmon;
    outline-offset: -1px;
}*/

.wysiwyg {
    max-width: 72ch;
    margin: auto;
}
.italic {
    font-style: italic;
}
h1, h2, h3, h4 {
    margin-bottom: 8px;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1rem;
}