@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i,800&display=swap');

$white: #ffffff;
$charcoal: #455560;
$cb-primary-base: #77A4E3;
/* z-index */

$index-1: 10;
$index-2: 100;
$index-3: 1000;
$index-4: 10000;
$index-5: 100000;