<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="/uploads/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    {% seo %}
    <!-- styles -->
    <link href="/assets/styles/app.css" media="all" rel="stylesheet" type="text/css" />
    <!-- end styles -->
    <!-- scripts -->
    <script src="/assets/scripts/vendor/offside.min.js"></script>
    <script src="https://kit.fontawesome.com/b7d6ecf821.js" crossorigin="anonymous"></script>
    <!-- end scripts -->
    <!-- analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-344694-11"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-344694-11');
    </script>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PC9DNTK');</script>
    <!-- End Google Tag Manager -->
    <!-- end analytics -->
</head>