<section class="block block__introduction {{ page.introduction-background-color }}">
    <div class="block__container">
        <h2 class="block__header">
            {{ page.introduction-header }}
        </h2>
        <div class="block__body wysiwyg">
            {{ page.introduction-body | markdownify }}
        </div>
        {% if page.introduction-has-button == true %}
        <a class="block__button button button--{{ page.introduction-button-style }}" href="{{ page.introduction-button-url }}">
            {{ page.introduction-button-label }}
        </a>
        {% else %}
        {% endif %}
    </div>
</section>