{% if page.url == "/speakers/" %}
<section class="block block--speakers {{ page.speakers-keynotes-background-color }}">
    <div class="block__content">
        <h2 class="block__header">
            {{ site.2020-keynote-speakers-header }}
        </h2>
        <ul class="listing listing--four-column">
            {% for speaker in site.2020-keynote-speakers %}
            <li class="speaker speaker--keynote">
                <a href="#" rel="noopener" target="_blank">
                    <img alt="{{ speaker.image-alt }}" class="speaker__image" src="{{ speaker.image }}"/>
                </a>
                <div class="speaker__details">
                    <h3 class="speaker__name">
                        {{ speaker.name }}
                    </h3>
                    <p class="speaker__title">
                        {{ speaker.title }}
                    </p>
                    <p class="speaker__company">
                        {{ speaker.company }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
<section class="block block--speakers {{ page.speakers-general-background-color }} bg-charcoal-100">
    <div class="block__content">
        <h2 class="block__header">
            {{ site.2020-general-speakers-header }}
        </h2>
        <ul class="listing listing--four-column">
            {% for speaker in site.2020-general-speakers %}
            <li class="speaker speaker--general">
                <a href="#" rel="noopener" target="_blank">
                    <img alt="{{ speaker.image-alt }}" class="speaker__image" src="{{ speaker.image }}"/>
                </a>
                <div class="speaker__details">
                    <h3 class="speaker--name">
                        {{ speaker.name }}
                    </h3>
                    <p class="speaker__title">
                        {{ speaker.title }}
                    </p>
                    <p class="speaker__company">
                        {{ speaker.company }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}
<section class="block block--speakers {{ page.speakers-past-background-color }}">
    <div class="block__content">
        <h2 class="block__header">
            {{ site.2019-past-speakers-header }}
        </h2>
        <ul class="listing listing--four-column">
            {% for speaker in site.2019-past-speakers %}
            <li class="speaker speaker--past">
                <a href="#" rel="noopener" target="_blank">
                    <img alt="{{ speaker.image-alt }}" class="speaker__image" src="{{ speaker.image }}"/>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>