<section class="block block--contact" style="background-color: {{ site.contact-background-color }};">
    <div class="block__content">
        {% if page.url == "/contact/" %}
        {% comment %}
        Show the events team contact information on the contact page, otherwise show the simplified contact information that directs a user to the contact page
        {% endcomment %}
        <h2 class="block__header">
            {{ site.contact-header }}
        </h2>
        <ul class="block__body listing listing--three-column">
            {% for employee in site.contact-employees %}
            <li class="listing__item">
                <div class="listing__details">
                    <h3 class="listing__header">
                        {{ employee.name }}
                    </h3>
                    <p class="listing__title">
                        {{ employee.title }}
                    </p>
                    <a class="listing__button button button--primary" href="{{employee.email}}">
                        {{ employee.email-label }}
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <h2 class="block__header">
            {{ site.contact-header }}
        </h2>
        <a class="block__button button button--primary" href="{{ site.contact-button-url }}">
            {{ site.contact-button-label }}
        </a>
        {% endif %}
    </div>
</section>
