<section class="block block__introduction {{ page.introduction-background-color }}">
    <div class="container">
        <h2>
            {{ page.introduction-header }}
        </h2>
        <div class="wysiwyg">
            {{ page.introduction-body | markdownify }}
        </div>
        {% if page.introduction-has-button == true %}
        <a class="button button--{{ page.introduction-button-style }}" href="{{ page.introduction-button-url }}">
            {{ page.introduction-button-label }}
        </a>
        {% else %}
        {% endif %}
    </div>
</section>