<section class="block block--hero" style="background-image: url({{ site.hero-background-image }}); background-size: cover; background-position: center center;">
    <div class="block__content">
        <div class="block__logo">
            <img alt="" src="{{ site.hero-logo }}"/>
        </div>
        <h1 class="block__header">
            {{ site.hero-header }}
        </h1>
        <small class="block__tagline">
            {{ site.hero-date }}
        </small>
    </div>
    <div class="block__overlay">
    </div>
</section>