<section class="block block__agenda-small {{ page.agenda-small-background-color }}">
    <div class="block__container">
        <h2 class="block__header">
            {{ page.agenda-small-header }}
        </h2>
        <ul class="listing listing__three-columns">
            {% for date in page.agenda-small-dates %}
            <li class="listing__item agenda-small-date">
                <h3 class="listing__header agenda-small-date__title">
                    {{ date.header }}
                </h3>
                <div class="listing__body agenda-small-date__body wysiwyg">
                    {{ date.body | markdownify }}
                </div>
            </li>
            {% endfor %}
        </ul>
        {% if page.agenda-small-has-button == true %}
        <a class="block__button button button--{{ page.agenda-small-button-style }}" href="{{ page.agenda-small-button-url }}">
            {{ page.agenda-small-button-label }}
        </a>
        {% else %}
        {% endif %}
    </div>
</section>