<!-- component: pricing discounts -->
<div class="pricing-bar">
    <h4 class="pricing-bar__header">
        {{ page.pricing-discounts-header }}
    </h4>
    <ul class="pricing-bar__discounts">
        {% for discount in page.pricing-discounts %}
        <li class="pricing-bar__discount">
            <span class="pricing-bar__discount-icon">
                {{ discount.icon }}
            </span>
            <div class="pricing-bar__discount-label wysiwyg">
                {{ discount.label | markdownify }}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
