<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="/uploads/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    {% seo %}
    <!-- styles -->
    <link href="/assets/styles/app.css" media="all" rel="stylesheet" type="text/css"/>
    <!-- end styles -->
    <!-- scripts -->
    <script src="/assets/scripts/vendor/offside.min.js"></script>
    <script src="https://kit.fontawesome.com/b7d6ecf821.js" crossorigin="anonymous"></script>
    <!-- end scripts -->
    <!-- analytics -->
    {{ site.google-analytics }}
    <!-- end analytics -->
</head>
