<section class="block block--speakers {{ page.speakers-general-background-color }} bg-charcoal-100">
    <div class="block__content">
        <h2 class="block__header">
            {{ site.2020-general-speakers-header }}
        </h2>
        <ul class="listing listing--three-column">
            {% for speaker in site.2020-general-speakers %}
            <li class="speaker speaker--general">
                <img alt="{{ speaker.image-alt }}" class="speaker__image" src="{{ speaker.image }}"/>
                {% comment %}
                    Only show the speaker name, title and company on the Speakers page.
                {% endcomment %}
                {% if page.url == "/speakers/" %}
                <div class="speaker__details">
                    <h3 class="speaker--name">
                        {{ speaker.name }}
                    </h3>
                    <p class="speaker__title">
                        {{ speaker.title }}
                    </p>
                    <p class="speaker__company">
                        {{ speaker.company }}
                    </p>
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>