{% include block-contact.html %}
<footer class="site-footer">
    <section>
        <img alt="" src="/assets/images/cb-footer-logo.svg">
            <div class="social-media">
                <h4>
                    Stay Connected
                </h4>
                <ul>
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-square">
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter-square">
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-linkedin">
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-youtube-square">
                            </i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="copyright">
                ©2019 Clarabridge®. All rights reserved.
            </div>
        </img>
    </section>
</footer>