<header class="site-header">
    <nav class="site-header__primary">
        <div class="site-header__logo">
            <a href="/">
                <img src="/assets/images/c3-logo-blue.png">
                </img>
            </a>
        </div>
        <ul class="site-header__links">
            {% for link in site.primary-navigation %}
            <li>
                <a class="button" href="{{ link.url }}">
                    {{ link.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <div class="site-header__buttons">
            <div class="site-header__registration">
                <a class="button button--primary" href="{{ site.registration-url }}" rel="noopener" target="_blank">
                    Register
                </a>
            </div>
            <!-- Off-canvas toggle button -->
            <button class="button button--secondary mobile-menu" id="my-button" type="button">
                Menu
                <i class="fas fa-bars">
                </i>
            </button>
        </div>
    </nav>
</header>
{% include block-hero.html %}