<header class="site-header">
    <nav>
        <a href="/">
            <img src="/assets/images/c3-logo-blue.png">
            </img>
        </a>
        <ul>
            {% for link in site.data.navigation.live-site %}
            <li>
                <a class="button" href="{{ link.url }}">
                    {{ link.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <li>
            <a class="button button--primary" href="#" rel="noopener" target="_blank">
                Register Now
            </a>
        </li>
        <!-- Off-canvas toggle button -->
        <button class="button button--secondary mobile-menu" id="my-button" type="button">
            Menu
            <i class="fas fa-bars">
            </i>
        </button>
    </nav>
</header>
<section class="hero" style="background-image: url({{ site.hero-background-image }}); background-size: cover; background-position: center center;">
    <div class="hero__content">
        <img alt="" src="{{ site.hero-logo }}"/>
        <h1>
            {{ site.hero-header }}
        </h1>
        <small>
            {{ site.hero-date }}
        </small>
    </div>
    <div class="hero__overlay">
    </div>
</section>