.agenda-events {
    padding: 32px;
    background-color: $cb-primary-100;
    border-radius: 4px;
}
.agenda-event {
    padding: 16px;
    border: solid 2px transparent;
    transition: border 100ms ease-in-out;
    border-radius: 4px;
}
.agenda-event:hover {
    border: solid 2px $cb-primary-400;
    cursor: pointer;
}
.agenda-event>*:not(:last-child), .agenda-event__modal>*:not(:last-child) {
    margin-bottom: 16px;
}
.agenda-event__modal {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4,1fr);
}
.agenda-event__details {
	grid-column: 1/5;
}
.agenda-event__title,
.agenda-event__summary,
.agenda-event__speakers {
	grid-column: 1/4;
}
.agenda-event__venue {
	grid-column: 4/5;
}
.agenda-event__details {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.agenda-event__date, .agenda-event__type {
    display: inline-block;
}
.agenda-event__type {
    padding: 8px;
    background-color: transparent;
    color: $white;
    font-size: 0.8rem;
    font-weight: bold;
}
.agenda-event__title h2 {
    font-weight: 400;
}
.agenda-event__speakers {
    padding: 16px;
    border-radius: 4px;
    background-color: $cb-primary-100;
}

.agenda-event__type.session-keynote {
    border: solid 4px $cb-primary-600;
    color: $charcoal-400;
}
.agenda-event__type.session-general {
    border: solid 4px $cb-primary-500;
    color: $charcoal-400;
}
.agenda-event__type.session-workshop {
    border: solid 4px $cb-primary-400;
    color: $charcoal-400;
}
.agenda-event__type.reception {
    border: solid 4px $cb-primary-300;
    color: $charcoal-400;
}
.agenda-event__type.track-cx {
    border: solid 4px $cb-primary-200;
    color: $charcoal-400;
}
.agenda-event__type.track-engage {
    border: solid 4px $cb-primary-100;
    color: $charcoal-400;
}
