.speaker, .employee-card {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.speaker__keynote-image, .speaker__general-image, .speaker__past-image {
    border: solid 4px $charcoal-200;
    border-radius: 1000px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    display: block;
    overflow: hidden;
}
.speaker__keynote-title, .speaker__general-title, .speaker__past-title, .employee-title {
    font-style: italic;
}