.site-footer {
    background-color: $charcoal-400;
    color: $white;
    padding: 64px 16px;
    text-align: center;
}

.site-footer *+*:not(:last-child) {
    margin-bottom: 16px;
}

.site-footer img {
    max-width: 244px;
    margin: auto
}

.site-footer ul li {
    display: inline-block;
    list-style: none;
}

.site-footer i,
.site-footer a {
    color: $white;
}

.site-footer i {
    font-size: 2rem;
}

.site-footer a {
    font-size: 0.8rem;
    text-decoration: none;
}

.site-footer a:hover {
    text-decoration: underline;
}

.social-media {
    margin-top: 32px;
}

.social-media h3 {
    margin-bottom: 16px;
}

@media screen and (min-width:1279px) {
    .site-footer {
        padding: 32px;
    }

}