.site-header {
    background-color: white;
    border-bottom: solid 2px $charcoal-200;
    padding: 16px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: $index-4;
}
.site-header nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.site-header nav li {
    display: none;
    list-style: none;
}
.site-header nav img {
    max-width: 56px;
}
@media screen and (min-width: 1279px) {
    .site-header nav li {
        display: inline-block;
    }
    .site-header nav li:not(:last-child) {
        margin-right: 8px;
    }
    .site-header nav img {
        max-width: 64px;
    }
}