.block.block--hero {
    padding: 32px;
}
.block--hero .block__content {
    position: relative;
    z-index: $index-3;
    padding: 32px;
    align-items: center;
    color: $white;
    display: flex;
    flex-direction: column;
}
.block--hero .block__logo img {
    max-width: 200px;
}
.block--hero .block__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $charcoal-400;
    opacity: 0.8;
}