.hero {
    position: relative;
}
.hero__content {
    position: relative;
    z-index: $index-4;
    padding: 48px 0;
    align-items: center;
    color: $white;
    display: flex;
    flex-direction: column;
}
.hero__content img {
    max-width: 288px;
}
.hero__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $charcoal;
    opacity: 0.8;
}