.pricing {
	
}
.pricing-discounts {
    background-color: $white;
    border: solid 2px $charcoal-100;
    border-radius: 2px;
    padding: 16px;
    text-align: center;
}
.pricing-discounts__header {
    margin-bottom: 8px;
}
.pricing-discount__icon {
    color: $charcoal-400;
    margin-right: 8px;
}
.pricing-discount__icon, .pricing-discount__label {
    display: inline-block;
}