.block {
    padding: 16px;
}
.block__introduction, .block__contact {
    text-align: center;
}
.block__agenda {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr;
    padding-bottom: 0;
    padding-top: 0;
}
@media screen and (min-width: 767px) {
    .block {
        padding: 32px;
    }
}
@media screen and (min-width: 1279px) {
    .block {
        padding: 64px 32px;
    }
    .block__agenda {
        grid-gap: 32px;
        grid-template-columns: 1fr 3fr;
        max-width: 1279px;
        margin: auto;
    }
}

.grid {
    align-content: center;
    align-items: center;
    display: grid;
    grid-gap: 2rem;
}
.grid.one-column {
    grid-template-columns: 1fr;
}
@media screen and (min-width: 767px) {
    .grid.two-column {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid.three-column {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid.four-column {
        grid-template-columns: repeat(4, 1fr);
    }
}
.container {
    margin: auto;
    max-width: 1279px;
}