.block {
    padding: 32px 16px;
    text-align: center;
    &__container {
        max-width: 1280px;
        margin: auto;
    }
    &__body {
        text-align: left;
    }
    @media screen and (min-width: 1279px) {
        .block {
            padding: 64px 32px;
            &__container {
                padding: 32px;
            }
        }
    }
}
/*.block__introduction, .block__agenda-small, .block__pricing, .block__contact, .block__speakers, .block__venue {}
.block__agenda, .block__faqs {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr;
    padding-bottom: 0;
    padding-top: 0;
}*/

@media screen and (min-width: 1279px) {
    .block__agenda, .block__faqs {
        grid-gap: 32px;
        margin: auto;
    }
    .block__agenda {
        grid-template-columns: 1fr 3fr;
        max-width: 1279px;
    }
    .block__faqs {
        grid-template-columns: 3fr 1fr;
        max-width: 1024px;
    }
}