.hero {
    position: relative;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(3,1fr);
}

.hero__content {
    position: relative;
    text-align: center;
    z-index: 9999;
    grid-column: 2;
    padding: 96px 0;
}

.hero__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $charcoal;
    opacity: 0.5;
}