---
layout: default
---

{{ content }}

<!-- keynote speakers -->
<section class="keynote-speakers container">
    <h2>Keynote Speakers</h2>
    <ul class="grid four-column">
        {% for speaker in site.data.speakers.2019-miami-keynote %}
        <li>
            <div>
                <img src="{{ speaker.image }}" alt="{{ speaker.image-alt }}" />
                <h3>{{ speaker.name }}</h3>
                <p>{{ speaker.title }}</p>
                <p>{{ speaker.company }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>

<!-- general speakers -->
<section class="general-speakers container">
    <h2>Speakers</h2>
    <ul class="grid four-column">
        {% for speaker in site.data.speakers.2019-miami-general %}
        <li>
            <div>
                <img src="{{ speaker.image }}" alt="{{ speaker.image-alt }}" />
                <h3>{{ speaker.name }}</h3>
                <p>{{ speaker.title }}</p>
                <p>{{ speaker.company }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>